.page {
  position: relative;
  min-height: 100vh;
  color: white;
  overflow: hidden;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}
